

@media (min-width: 480px) {
    #main-content {
        display: block;
    }
}

@media (min-width: 768px) {
    #main-content {
        display: block;
    }
}

@media (min-width: 1024px) {
    #main-content {
        display: block;
    }
}