/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  transition: 3s ease-in box-shadow;
  box-shadow: 0 0 0 0 #000;
}

main::before {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 400px 600px #000;
  opacity: 0;
  transition: all 6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main.theater {
  animation: none;
  border-color: #333;
  z-index: 100;
  position: relative;
  background: #000;
}

main.theater::before {
  opacity: 1;
}

main.theater #video-controls {
  position: fixed !important;
  top: 155px;
  border-radius: 0 !important;
}

main .theaterModeToggle {
  padding: 0 20px;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

main .theaterModeToggle.on {
  color: #0cf;
}

#vid-container {
  position: relative;
  margin: -20px;
  border-radius: 9px;
  overflow: hidden;
  min-height: 480px;
  max-height: 640px;
  text-align: center;
}

#vid-container #bg-video {
  display: block;
  width: auto;
  min-width: 100%;
  max-width: 100%;
  box-shadow: 0 0 130px #000;
  margin: 0 auto;
}

#vid-container .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #0cf;
  opacity: 0;
  transition: .15s linear all;
  padding: 5px 8px;
  font-size: 15px;
  line-height: 1em;
  text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
  z-index: 3;
}

#vid-container .close:hover {
  transform: scale(1.25);
  color: red;
}

#vid-container .close:active {
  transition: none;
  color: #fff;
}

#vid-container #intro {
  position: absolute;
  bottom: 10%;
  left: 15%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  line-height: 1.15rem;
  opacity: 0;
  transition: .25s linear all;
}

#vid-container #intro.show {
  opacity: 1;
}

#vid-container #intro h3 {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 0 10px;
}

#vid-container #intro:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

#vid-container #intro:hover .close {
  opacity: 1;
}

#vid-container #video-controls {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 30%;
  font-size: .8rem;
  line-height: 25px;
  z-index: 1;
  height: 25px;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 0 0;
  width: 40%;
  text-shadow: 1px 1px 1px #000;
  overflow: hidden;
  opacity: .5;
  transition: .25s linear opacity;
}

#vid-container #video-controls:hover {
  background-color: #222;
  opacity: 1;
}

#vid-container #video-controls p {
  margin: 0;
}

#vid-container #video-controls > div {
  white-space: nowrap;
  height: 100%;
  padding: 0 3%;
  cursor: pointer;
}

#vid-container #video-controls > div:hover {
  color: #00a5e2;
  background-color: #444;
  fill: #00a5e2;
}

#vid-container #video-controls #video-random {
  text-align: center;
}

#vid-container #video-controls #video-random:hover {
  color: #00a5e2;
}

#vid-container #video-controls #video-random.disabled {
  color: #222;
}

#vid-container #video-controls #video-pause,
#vid-container #video-controls #video-play {
  display: none;
  text-align: center;
  width: 40px;
}

#vid-container #video-controls #video-channel {
  width: auto;
  padding: 0 1em;
  font-size: 12px;
  cursor: default;
  font-family: "Ropa Sans", sans-serif;
  width: 100%;
  text-align: center;
}

#vid-container #video-controls #video-channel:hover {
  color: inherit;
}

#vid-container #video-controls #video-channel a {
  float: right;
  text-decoration: none;
  color: inherit;
  font-size: 10px;
}

#vid-container #video-controls #video-channel a:hover {
  text-decoration: underline;
}

#vid-container #video-controls #video-aspect svg {
  margin-top: 3px;
  cursor: pointer;
  fill: #eee;
}

#vid-container #video-controls #video-aspect svg:hover {
  fill: #00a5e2;
}

#vid-container #playlists {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  max-height: 100%;
  transition: .25s ease-in all;
  opacity: 0;
  transform: translateX(-100%);
  height: 100vh;
  text-align: left;
}

#vid-container #playlists.open {
  opacity: 1;
  transform: none;
}

#vid-container #playlists:hover .close {
  opacity: 1;
}

#vid-container #playlists #video-playlist {
  pointer-events: auto;
  font-size: .8rem;
  line-height: 30px;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.95);
  text-shadow: 1px 1px 2px #000;
  flex: 0 0 auto;
}

#vid-container #playlists #video-playlist p.header {
  padding: 20px 20px 0 20px;
  margin: 0;
}

#vid-container #playlists #video-playlist ul {
  padding: 10px 0;
  margin: 10px 0 0;
  list-style: none inside none;
}

#vid-container #playlists #video-playlist ul li {
  padding: 0 20px;
  cursor: pointer;
}

#vid-container #playlists #video-playlist ul li:hover {
  background-color: rgba(94, 94, 94, 0.4);
}

#vid-container #playlists #video-playlist ul li.on {
  font-weight: bold;
  color: #00a5e2;
  text-shadow: 0 0 2px #00a5e2;
}

#vid-container #playlists #video-playlist ul li span {
  font-size: .7rem;
  float: right;
  padding-left: 30px;
  color: #888;
  text-shadow: none;
}

#vid-container #playlists #image-playlist {
  display: none;
  pointer-events: auto;
  font-size: .8rem;
  max-height: 100%;
  color: #eee;
  background-color: rgba(6, 6, 6, 0.95);
  text-shadow: 1px 1px 2px #000;
  align-self: right;
  height: 100vh;
}

#vid-container #playlists #image-playlist p.header {
  padding: 20px 20px 0 20px;
}

#vid-container #playlists #image-playlist ul {
  display: flex;
  flex-wrap: wrap;
  max-height: 92vh;
  padding: 20px;
  list-style: none inside none;
}

#vid-container #playlists #image-playlist ul li {
  text-align: center;
  overflow: hidden;
  width: 69px;
  height: 39px;
  margin: 1px;
  cursor: pointer;
}

#vid-container #playlists #image-playlist ul li.on {
  outline: 1px solid #00a5e2;
}

#vid-container #playlists #image-playlist ul li:hover {
  transition: .15s ease-out all;
  transform: scale(2.5);
  outline: 1px solid #00a5e2;
  box-shadow: 2px 2px 15px 1px #000;
}

#vid-container #playlists #image-playlist ul li:active {
  transform: scale(5);
}

#vid-container #playlists #image-playlist ul li img {
  max-width: 100%;
}

@keyframes outerCircleGlow {
  from {
    box-shadow: 0px 0px 15px #222, 0 0px 200px -3px rgba(102, 204, 255, 0.5), inset 0px 0px 10px #000;
  }

  50% {
    box-shadow: 0px 0px 15px #222, 0 0px 100px -3px rgba(102, 204, 255, 0.5), inset 0px 0px 10px #000;
  }

  to {
    box-shadow: 0px 0px 15px #222, 0 0px 200px -3px rgba(102, 204, 255, 0.5), inset 0px 0px 10px #000;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
    text-shadow: 0;
    color: #fff;
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
    text-shadow: 0 0 5px #fff;
  }

  100% {
    transform: scale(1);
    text-shadow: 0;
    color: inherit;
  }
}

#members h2 {
  margin: 0;
}

#members h2 span {
  float: right;
  font-size: 11px;
}

#members .classList {
  display: flex;
  flex-wrap: wrap;
}

#members .classList > div {
  width: calc(100% / 6);
  padding: 10px 20px 15px;
  border: 1px solid rgba(0, 204, 255, 0.2);
  border-radius: 10px;
  min-width: 160px;
}

#members .classList > div.charclass-1 {
  color: #c69b6d;
}

#members .classList > div.charclass-2 {
  color: #f48cba;
}

#members .classList > div.charclass-3 {
  color: #aad372;
}

#members .classList > div.charclass-4 {
  color: #fff468;
}

#members .classList > div.charclass-5 {
  color: #f0ebe0;
}

#members .classList > div.charclass-6 {
  color: #c41e3b;
}

#members .classList > div.charclass-7 {
  color: #2359ff;
}

#members .classList > div.charclass-8 {
  color: #68ccef;
}

#members .classList > div.charclass-9 {
  color: #9382c9;
}

#members .classList > div.charclass-10 {
  color: #00ffba;
}

#members .classList > div.charclass-11 {
  color: #ff7c0a;
}

#members .classList > div.charclass-12 {
  color: #a330c9;
}

#members .classList > div p {
  margin: -0 0 5px;
  font-weight: bold;
  border-bottom: 1px solid;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Ropa Sans", sans-serif;
}

#members .classList > div p span {
  float: right;
}

#members .classList > div ul {
  list-style: none inside none;
  margin: 0;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #000;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #6CF;
  background: #666;
  background: url(./images/footer-bg.png) bottom center repeat-x, url(./images/star-bg.png) 50% 139px repeat-x;
  background-size: 100% auto;
  height: 100%;
  min-height: 100vh;
  overflow-y: scroll;
}

body a {
  color: #C1E6FF;
  text-decoration: none;
  transition: color 0.25s ease-in;
}

body a:hover {
  color: #FFF;
  text-decoration: underline;
}

body hr {
  height: 0px;
  border: 0;
  border-top: solid #6cf 1px;
}

body h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: normal;
  background: linear-gradient(to bottom, #ebf1f6 0%, #abd3ee 50%, #257694 55%, #d5ebfb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Ropa Sans", sans-serif;
  font-weight: bold;
  text-shadow: none;
}

body h2 {
  font-size: 17px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000336;
  margin: 10px -10px;
  color: #fff;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 10px;
}

body em {
  font-style: italic;
}

body > * {
  position: relative;
  z-index: 10;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1 !important;
  opacity: .5;
}

#container {
  background-color: transparent;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

main {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 9px;
  min-height: 430px;
  max-width: calc(100vw - 10px);
  margin: 0 auto;
  border: 1px solid rgba(102, 204, 255, 0.8);
  animation-name: outerCircleGlow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  line-height: 20px;
  font-size: 13px;
}

main p {
  margin: 0 0 10px 0;
}

main ul {
  margin: 0 0 10px 20px;
  list-style: inside;
  list-style-type: square;
}

main ul.column-list {
  column-count: 4;
  column-gap: 20px;
  list-style: inside;
  list-style-type: square;
}

main img {
  max-width: 100%;
}

header {
  height: 139px;
  background: #011720 url(./images/header.png) top center repeat-x;
  margin: 0;
  border-bottom: 1px solid #222;
}

nav {
  position: relative;
  font-family: "Ropa Sans", sans-serif;
  font-size: 12px;
  width: 100%;
  padding: 0 10px;
  text-align: center;
}

nav a {
  display: inline-block;
  line-height: 40px;
  padding: 0 15px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  transition: .2s background linear;
}

nav a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
  border: 1px outset rgba(102, 204, 255, 0.5);
  border-width: 0 1px;
  margin: 0 -1px;
  text-shadow: 0 0 12px #6cf;
}

nav a:hover span {
  border-left: 3px solid #87fcfc;
  padding-left: 6px;
  text-shadow: 0 0 2px #87fcfc;
}

nav a span {
  transition: inherit;
}

nav li.games > a,
nav li.games .leader > a {
  padding: 0 20px;
}

nav li.steam .leader {
  position: relative;
  left: -1px;
}

nav li.steam > a,
nav li.steam .leader > a {
  background: url(./images/nav-steam-icon.png) 5px 50% no-repeat;
  padding: 0 15px 0 25px !important;
}

nav li.links > a,
nav li.links .leader > a {
  padding: 0 25px;
}

nav li.discord {
  float: right;
  width: 105px;
  text-align: right;
}

nav li.discord > a,
nav li.discord .leader > a {
  text-align: right;
  padding: 8px 15px 0 30px !important;
  background: url(./images/Discord-Logo-White.png) 5px 50% no-repeat;
  background-size: 20px;
  line-height: 1em;
}

nav li.discord ul {
  width: auto;
  right: -1px;
  top: 0;
  margin-top: 0 !important;
  width: 240px;
  text-align: left;
}

nav li.discord ul li.duser {
  position: relative;
}

nav li.discord ul li.duser .avatar {
  height: 16px;
  width: 16px;
  line-height: 1em;
  border-radius: 100%;
  margin-left: 7px;
  border: 1px solid #000;
}

nav li.discord ul li.duser .avatar.online {
  border-color: green;
}

nav li.discord ul li.duser .avatar.dnd {
  border-color: red;
}

nav li.discord ul li.duser .avatar.idle {
  border-color: #ccc;
}

nav li.discord ul li.duser .username {
  white-space: nowrap;
}

nav li.discord ul li.duser .game {
  float: right;
}

nav li.discord ul li.duser span {
  display: inline-block;
}

nav li.discord ul li.duser span:hover {
  border: none;
  padding: 2px 8px;
}

nav > ul li {
  display: inline-block;
  position: relative;
  z-index: 20;
  transition: .5s all linear;
}

nav > ul li:hover {
  z-index: 30;
}

nav > ul li:hover ul {
  display: block;
  opacity: 1;
  border-bottom: 1px solid #6CF;
  margin-top: -40px;
  z-index: 10;
}

nav > ul li:hover ul li {
  opacity: 1;
}

nav ul ul {
  display: none;
  position: absolute;
  opacity: 0;
  box-shadow: 0px 0px 15px #222, 0 0px 200px -3px rgba(102, 204, 255, 0.5);
  z-index: 100;
  transition: .5s all linear;
  width: 100%;
  padding: 0 0 10px;
  border: 1px outset rgba(102, 204, 255, 0.5);
  border-width: 0 1px;
  border-radius: 0 0 4px 4px;
  background: rgba(0, 0, 0, 0.9);
}

nav ul ul li {
  display: block !important;
  height: 20px;
  line-height: 20px;
  opacity: .25;
  animation: fadeIn .25s linear;
  animation-fill-mode: both;
}

nav ul ul li:nth-child(1) {
  animation-delay: 0.05s;
}

nav ul ul li:nth-child(2) {
  animation-delay: 0.1s;
}

nav ul ul li:nth-child(3) {
  animation-delay: 0.15s;
}

nav ul ul li:nth-child(4) {
  animation-delay: 0.2s;
}

nav ul ul li:nth-child(5) {
  animation-delay: 0.25s;
}

nav ul ul li:nth-child(6) {
  animation-delay: 0.3s;
}

nav ul ul li:nth-child(7) {
  animation-delay: 0.35s;
}

nav ul ul li:nth-child(8) {
  animation-delay: 0.4s;
}

nav ul ul li:nth-child(9) {
  animation-delay: 0.45s;
}

nav ul ul li a {
  transition: .05s transform, .05s opacity;
}

nav ul ul li.leader {
  height: 40px;
  line-height: 40px;
  text-shadow: 0 0 12px #ccc;
  animation: none;
}

nav ul ul li.leader:hover {
  background: none;
}

nav ul ul li.leader a {
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  cursor: default;
}

nav ul ul li.leader a:hover {
  border: 1px outset rgba(102, 204, 255, 0.5);
  border-width: 0 1px;
  padding: 0;
}

nav ul ul li > span,
nav ul ul a {
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: left;
  padding: 2px 8px;
  white-space: nowrap;
}

nav ul ul li > span:hover,
nav ul ul a:hover {
  border: 3px solid rgba(102, 204, 255, 0.5);
  border-width: 0 3px;
  padding: 2px 6px;
}

footer {
  text-align: center;
  font-size: .7rem;
  padding: .5rem;
  margin-bottom: 5rem;
}

.intro {
  display: block;
  margin: 50px auto;
  box-shadow: #013466 0px 0px 20px 9px;
}

.center {
  text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

