extends layout
block content
    section#joining
        h1 Joining Orb
        p Orb doesn’t need any players. We look for and accept players who we know and have a great time playing with. The single most deciding factor of our players is the person’s attitude. We believe that the most effective way to build a community that upholds orb’s ideals, lies in how people join our community.
        p Several things are considered of people requesting to join orb :
        ul
            li Character & Attitude
            li Participation in the community
            li Teamwork
            li Healthy sense of humor
        p We highly recommend you read the “About Orb”. While some things may not pertain specifically to the game you play (some parts of it are relevant to some games and not others), the ideas are there. Once you have read, understand, and agree with the about page. Failure to take a few moments of your time to learn a little about us or being impatient, give us the impression you don’t care much about what clan / guild you’re joining ; Most likely we’ll ignore your request.
        p
            strong
                | Simply put : We value your real-life character over that of your video game character.
        h2 A few key points:
        p Orb is 
            strong not
            |  a skill based clan / guild. We are a community that puts maturity, attitude, friendlyness, and character at the top of our priority list.
        p When posting on our forums, remember that Orb is a clan / guild that plays in many games, be sure to be clear about which game you play.
        p It can take a long time to get into orb; your patience is noticed. We have been around for more than a decade, and plan to stay around for many more. Because of this, our selections are very careful.
        p Most importantly, hang out in forums. Contact people in-game. Just be around in general. We’re not looking to up the roster count; We’re looking for more fun and active people for our community.
        p And on that note.. thank you for your interest in orb!