section#members
    h1 Members

    p This page is not meant to list everyone that is in Orb, as we’re a bit of an elastic community. I did want to highlight some of the more prominent members that either are very active, have contributed a lot, or have contributed some of the best reoccurring Orb inside jokes..
    h2 Founding Members
    p
        strong {-o-} Lucid
        |  – Bryant – 
        em Leader & Founder
    p It was the summer of 2000, I had graduated high school and was playing Tribes nearly every waking hour of every day. I joined my first gaming clan ever and realized “Some of these guys are jerks”. I felt I could do better; I was sure I could build a clan that was awesome and didn’t have jerks. With 3 other tribes players we formed Orb, and I’ve been proudly playing the Orb tag in every game I’ve played since.
    .cl
    p
        strong {-o-} Karinasaurus
        |  – Karina – 
        em The Wife
    p Hay! This is cheating right? Do you make the guild leader empanadas? Well, you could, but they’d like, have to be really awesome. If you marry me, you can have this spot. This woman keeps my life sane enough to have the free time to lead the guild, and keep my job.
    .cl
    p
        strong {-o-} Murrdyn
        |  – 
        em Co-Leader
    p Murrdyn has been there for everything. He was there for Tribes, He was there for WoW, He was there for Day of Defeat, He was there for Diablo 2, and most recently, He was there for my wedding. He’s an all-purpose guy with stupid luck and a laid back attitude. Murrdyn has helped run the clan/guild when I cannot, he’s been the backbone to Orb and helped with most every major decision for our direction.
    .cl
    p
        strong {-o-} Cells
        |  – 
        em Founder
    p Cells was numero uno. He helped push me to found Orb by saying we could do it better. He demonstrated exceptional skill at Tribes and helped get our tag noticed in our early days. He comes and goes as real-life allows, but he’s always around. He was the second of two attendees at our Orb Founders Convention in Tijuana. He visited me after flying across the entire country – and we thought it best to spend 2 days holed up in my apartment playing Diablo 2.
    .cl
    h2 Orb Veterans
    p The following have been members of Orb for greater than 8 years, some 10+, and most of which are still actively playing today.
    ul.column-list
        li Treshnell
        li Monky – 
            em Firewood
        li Gimmic
        li Orpheus
        li Jehuty – 
            em Has Quicktime
        li Jinzo
        li Emo1313
        li Particle
        li MinuteManIII
        li Cosmic
        li Tempest
        li Zip
        li Fozbo
        li JGraf
        li GladioStricto
        li Omega
        li 0mega
        li Lunatik
        li Plasmatic
    h2 Orb Guildies
    p The following are members who joined the Orb guild, most from WoW whom have become consistent members of the Orb community outside of WoW.
    ul.column-list
        li Mentova
        li Flintok – 
            em Bad Enough Dude
        li Altecannon
        li Punkie
        li Xulgor
        li Juanpablo – 
            em BWL Soloist
        li Robear
        li Vvarla
        li Lokicoyote
        li Hanspederson
        li Baltazar – 
            em Space Cheetahs
        li Calintz
    h2 Wildstar Founders
    p The following are members who joined up immediately following Wildstar’s release.
    ul.column-list
        li Lucid
        li Murrdyn
        li Cells
        li Karinasaurus
        li CrypticApathy (Takif)
        li Flintok
        li Altecannon
        li Vvarla
        li Monky
        li Sistersallys
        li Toknowyouby
    h2 Fictional Members
    p These guys are totally in Orb, you’ll just have to believe me.
    ul.column-list
        li Vin Diesel
        li Sean Connery
        li Xulgor’s Grandmother
        li Spoooooky Ghost
        li Mila Kunis