extends layout

block content
    #container
        #error-body
            h1="Error " + (code ? code : '')
            if ( code === 404 )
                //- audio(autoplay="autoplay")
                //-     source(src="/audio/LTTP_Link_Dying.wav" type="audio/wav")
                //-     | Your browser does not support the audio element.
                
                p You've located a dead link.
                <!-- Both link picture and sound idea taken from http://fruit.gs/404.html -->

                img(src="/images/deadlink.png", alt="Dead Link")
            else
                p There seems to be a unknown server error.
                img(src="https://i.imgur.com/rE090Tx.jpg" height=450)
                
            if environment === "development"              
                pre #{error.stack}
