extends layout
block content
    h1
        img(src="/images/icon_GTA_V.png") 
        | Grand Theft Auto V Online
        p Orb Crew
    img(src="https://i.imgur.com/UUWUCv7.png")
    p Nothing here yet while we develop this page!