extends layout
block content
    h1
        img(src="/images/icon_Diablo_3.png") 
        | Diablo 3
        p Region : Americas
    img(src="https://i.imgur.com/ZVzKxSC.jpg")
    p Nothing here yet while we develop this page!