extends layout
block content
    h1 Tribes
    p Orb was founded in Tribes as well as contributed of the game's several widely used mods such as Annhilation, and Shifter.
    p Thanks to the work of Plasmatic and Sevnn, a master server is still online at t1m1.tribes0.com:28000.

    h2 Links
    ul
        li http://www.tribesmasterserver.com/
        li 
            a(href="http://www.maxogc.net/tribes/master/index.php" target="_blank") Tribes 1 Master Server Query
        li 
            a(href="http://t1m1.pu.net/" target="_blank") http://t1m1.pu.net/