doctype html
html
	//
		 ▒█████   ██▀███   ▄▄▄▄   
		▒██▒  ██▒▓██ ▒ ██▒▓█████▄ 
		▒██░  ██▒▓██ ░▄█ ▒▒██▒ ▄██
		▒██   ██░▒██▀▀█▄  ▒██░█▀  
		░ ████▓▒░░██▓ ▒██▒░▓█  ▀█▓
		░ ▒░▒░▒░ ░ ▒▓ ░▒▓░░▒▓███▀▒
		  ░ ▒ ▒░   ░▒ ░ ▒░▒░▒   ░ 
		░ ░ ░ ▒    ░░   ░  ░    ░ 
		    ░ ░     ░      ░      
		                        ░ 
	head
		title Clan Orb

		meta(name="description", content="Clan Orb : A gaming community since 2000.")
		meta(name="viewport" content="width=device-width" initial-scale="1")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

		link(rel='stylesheet', href='/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans')
		block styles

	body
		#particles-js
		header
			.cheeseburger
		section#container
			nav
				include nav
			main
				block content
			footer 
				| &copy; 2000-#{new Date().getFullYear()} Clan Orb. Site design and content developed by Lucid and other members of Orb
	
		script(src='/scripts.js', type='text/javascript')
		block scripts