doctype html
html
	//
		 ▒█████   ██▀███   ▄▄▄▄   
		▒██▒  ██▒▓██ ▒ ██▒▓█████▄ 
		▒██░  ██▒▓██ ░▄█ ▒▒██▒ ▄██
		▒██   ██░▒██▀▀█▄  ▒██░█▀  
		░ ████▓▒░░██▓ ▒██▒░▓█  ▀█▓
		░ ▒░▒░▒░ ░ ▒▓ ░▒▓░░▒▓███▀▒
		  ░ ▒ ▒░   ░▒ ░ ▒░▒░▒   ░ 
		░ ░ ░ ▒    ░░   ░  ░    ░ 
		    ░ ░     ░      ░      
		                        ░ 
	head
		title Clan Orb

		meta(name="description", content="Clan Orb : A gaming community since 2000.")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")

		link(rel='stylesheet', type="text/css", href='/style.css')
		link(rel='stylesheet', type="text/css", href='//fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

		block styles

	body
		#particles-js
		header
			.cheeseburger
		section#container
			nav
				include nav
			main
				block content
			footer 
				| Est. 2000
	
		script(src='/scripts.js', type='text/javascript')
		block scripts