ul
    li
        a(href="/") Home
    li.about
        a(href="/about") About Orb
        ul
            li.leader
                a(href="/about") About Orb
            li
                a(href="/about/orb") About Us
            li
                a(href="/about/joining") Joining Orb
            li
                a(href="/about/links") Links
            li
                a(href="/about/members") Members
    li.games
        a(href="/games") Games we play
        ul
            li.leader
                a(href="/games") Games we play
            li
                a(href="/games/classic") Classic / Retired
            li
                a(href="/games/destiny") Destiny 2
            li
                a(href="/games/diablo") Diablo
            li
                a(href="/games/gta") GTA V
            li
                a(href="/games/overwatch") Overwatch
            li
                a(href="/games/pubg") PUBG
            li
                a(href="/games/tribes") Tribes
            li
                a(href="/games/wow") Warcraft

    li.steam
        a(href="/steam") Steam
        ul
            li.leader
                a(href="/steam") Steam
            li
                a(href="/steam") Members
            li
                a(href="/steam/popular") Games
    li.wow
        a(href="/games/wow") World of Warcraft
        ul
            li.leader
                a(href="/games/wow") World of Warcraft
            li
                a(href="/games/wow") The guild
            li
                a(href="/games/wow/guild-members") Guild Members
            li
                a(href="/games/wow/progression") Progression
    li.links
        a(href="/contact") Links
        ul
            li.leader
                a(href="/contact") Links
            li
                a(href="https://discord.gg/BHNHrky") Discord
            li
                a(href="http://facebook.clanorb.com/") Facebook
            li
                a(href="https://socialclub.rockstargames.com/crew/clan_orb") GTA Crew								
            li
                a(href="http://clanorb.slack.com/") Slack
            li
                a(href="http://steam.clanorb.com/") Steam		

    li
        a(href="/archive") Website Archive
        ul
            li.leader
                a(href="/archive") Website Archive
            li
                a(href="/archive/t1-map-tutorial") T1 Map Tutorial
            li
                a(href="/archive/t1-skinning-tutorial") T1 Skinning