ul
    li
        a(href="/") Home
    li.about
        a(href="/about") About Orb
        ul
            li.leader
                a(href="/about") About Orb
            li
                a(href="/about/orb") About Us
            //- li
            //-     a(href="/about/joining") Joining Orb
            li
                a(href="/about/members") Members
    li.games
        a(href="/game") Games we play
        ul
            li.leader
                a(href="/game") Games we play
            //- li
            //-     a(href="/game/classic") Classic / Retired
            li
                a(href="/game/diablo") Diablo
            li
                a(href="/game/gta") GTA V
            li
                a(href="/game/overwatch") Overwatch
            //- li
            //-     a(href="/game/pubg") PUBG
            li
                a(href="/game/tribes") Tribes
            li
                a(href="/game/wow") Warcraft

    li.steam
        a(href="/steam") Steam
        ul
            li.leader
                a(href="/steam") Steam
            li
                a(href="/steam/members") Members
            li
                a(href="/steam/popular") Games
    //- li.wow
    //-     a(href="/game/wow") World of Warcraft
    //-     ul
    //-         li.leader
    //-             a(href="/game/wow") World of Warcraft
    //-         li
    //-             a(href="/game/wow") The guild
    //-         li
    //-             a(href="/game/wow/guild-members") Guild Members
    //-         li
    //-             a(href="/game/wow/progression") Progression
    li.links
        a(href="/contact") Links
        ul
            li.leader
                a(href="/contact") Links
            li
                a(href="https://discord.gg/BHNHrky" target="_blank") Discord
            li
                a(href="http://facebook.clanorb.com/" target="_blank") Facebook
            li
                a(href="https://socialclub.rockstargames.com/crew/clan_orb" target="_blank") GTA Crew								
            li
                a(href="http://clanorb.slack.com/" target="_blank") Slack
            li
                a(href="http://steam.clanorb.com/" target="_blank") Steam		

    //- li.archive
    //-     a(href="/archive") Website Archive
    //-     ul
    //-         li.leader
    //-             a(href="/archive") Website Archive
    //-         li
    //-             a(href="/archive/t1-map-tutorial") T1 Map Tutorial
    //-         li
    //-             a(href="/archive/t1-skinning-tutorial") T1 Skinning
    li.discord
        a(href="/") Discord
            br
            | Loading
        ul
            li.leader
                a(href="/") Discord
            li.loading
                a Loading...
            